@import url('https://fonts.cdnfonts.com/css/plus-jakarta-sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
header{
    padding: 10px;
    position: fixed;
    z-index: 999;
    width: 100%;
}
nav{
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.first-list{
    display: flex;
    align-items: center;
    gap: 2em;
}
.first-list a{
    text-decoration: none;
}
.first-list .text{
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: smaller;
    display: flex;
    gap: .5em;
    align-items: center;
}
.logo{
    background-color: #0C513F;
    padding: 5px 30px;
    border-radius: 40px;
    width: 160px;
}
.nig{
    width: 18px;
}
.menu-list{
    display: flex;
    gap: 2em;                                             
}
.menu-list a{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
nav .fa-bars{
    display: none;
}
/* media query */
@media (max-width: 1026px){
    .menu-list{
        display: none;
    }
    nav .fa-bars{
        display: block;
        font-size: 2.5em;
    }
    .logo{
        width: 200px;
    }
    .nig{
        width: 25px;
    }
}
@media (max-width: 600px){
    nav{
        width: 100%;
        margin: auto;
    }
    nav .fa-bars{
        display: block;
        font-size: 1.5em;
    }
    .first-list{
        gap: 1em;
    }
    .logo{
        width: 90px;
    }
    .nig{
        width: 20px;
    }
}
.bg-image{
    position: relative;
    top: 0;
}
.hero-sect h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 6em;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    margin: auto;
}
.hero-sect .btn-1{
    display: flex;
    justify-content: center;
    top: 55%;
    gap: 1em;
    position: absolute;
    width: 100%;
    margin: auto;
}
.hero-sect .btn-1 a{
    background-color: #0C513F;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: medium;
}
.btn-1 a{
    text-decoration: none;
}
/* media query */
@media(max-width: 1006px){
    .hero-sect h1{
        font-size: 5em;
        top: 20%;
        text-align: center;
    }
    .hero-sect .btn-1{
        top: 35%;
    }
}
@media(max-width: 886px){
    .hero-sect h1{
        font-size: 4em;
        top: 18%;
        text-align: center;
    }
    .hero-sect .btn-1{
        top: 29%;
    }
}
@media(max-width: 835px){
    .hero-sect h1{
        font-size: 4em;
        top: 15%;
        text-align: center;
    }
    .hero-sect .btn-1{
        top: 27%;
    }
}
@media(max-width: 760px){
    .hero-sect .btn-1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        align-items: center;
        justify-items: center;
        top: 35%;
    }
    .hero-sect h1{
        font-size: 4em;
        top: 20%;
        text-align: center;
    }
}
@media(max-width: 689px){
    .hero-sect .btn-1{
        top: 30%;
    }
    .hero-sect h1{
        font-size: 3em;
        top: 20%;
        text-align: center;
    }
}
@media(max-width: 600px){
    .hero-sect .btn-1{
        top: 25%;
    }
    .hero-sect h1{
        font-size: 2.5em;
        top: 15%;
        text-align: center;
    }
}
@media(max-width: 534px){
    .hero-sect .btn-1{
        top: 20%;
    }
    .hero-sect h1{
        font-size: 2.5em;
        font-weight: bolder;
        top: 13%;
        text-align: center;
    }
    .hero-sect .btn-1 a{
        padding: 10px 30px;
    }
}
@media(max-width: 376px){
    .hero-sect .btn-1{
        top: 19%;
        gap: .5em;
    }
    .hero-sect h1{
        font-size: 2em;
        font-weight: bolder;
        top: 12%;
        text-align: center;
    }
    .hero-sect .btn-1 a{
        padding: 10px 20px;
    }
}
/* .rider1{
    bottom: -50%;
    position: absolute;
    animation-name: forward;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}
@keyframes forward{
    from{
        transform: translateX(-15em);
    }
    to{
        transform: translateX(70em);
    }
}
.rider2{
    right: 10%;
    bottom: -55%;
    position: absolute;
    animation-name: back;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}
@keyframes back{
    from{
        transform: translateX(1em);
    }
    to{
        transform: translateX(-75em);
    }
} */
 .mid-sect{
        position: relative;

 }
.mid-sect h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 1em;
}
.mid-sect p{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-top: 1em;
}
.mob{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 2em;
    /* padding: 30px; */
}
.mob img{
    max-width: 100%;
    margin: auto;
}
.paste{
    position: absolute;
    top: 130px;
    left: 57%;
    width: auto;
    height: auto;
}
.paste img{
    width: 130px;
}
/* media query */
@media(max-width: 912px){
    .paste{
        left: 60%;
    }
}
@media(max-width: 612px){
    .paste{
        left: 65%;
    }
}
@media(max-width: 459px){
    .mid-sect h1{
        font-size: 2em;
        padding-top: 2em;
    }
    .mob img{
        width: 50%;
    }
    .paste img{
        width: 90px;
    }
    .paste{
        top: 140px;
        left: 60%;
    }
}
.card-1{
  display: flex;
  gap: 2em;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 4em;
}
.c-boder{
    border: 2px solid black;
    width: 280px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
}
.card-1 h2{
    padding-bottom: .5em;
}
.c-boder .veg{
    max-width: 100%;
}

.res{
    background-color: #DCD6F9;
    background-image: url('./images/menu.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

}
.shp{
    background-color: #FFEDB3;
    background-image: url('./images/basket.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.phar{
    background-color: #99C8FF;
    background-image: url('./images/order.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.lcm{
    background-color: #CCF3E5;
    background-image: url('./images/vegies.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
/* media query */
@media(max-width: 821px){
    .card-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.last-sect .tet{
    text-align: center;
    color: #D1D5DB;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3em;
    padding-top: 1em;
}
.card-2{
  display: flex;
  gap: 2em;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  padding-top: 2.5em;
  padding-bottom: 15em;
}
.c-boder2{
    border: 4px solid black;
    width: 480px;
    height: 440px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.c-boder2 .pics{
    width: 100%;
    /* margin: auto; */
}
.moon{
    padding: 5%;
}
.star{
    padding: 3%;
}
.sun{
    padding: 5%;
}
.card-2 p{
   padding-left: 20px;
   font-family: 'Plus Jakarta Sans', sans-serif;
}
.card-2 a{
    padding-left: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-weight: 700;
}
.card-2 h2{
    padding-left: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
}
.card-2 a:hover{
    text-decoration: underline;
}
/* media query */
@media(max-width: 719px){
    .card-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 510px){
    .c-boder2{
        width: 400px;
    }
}
@media(max-width: 426px){
    .c-boder2{
        width: 300px;
    }
}
.marq{
    background-color: #0C513F;
    height: 280vh;
    /* position: relative; */
}
.hold{
   position: relative;
}
 .caro-container{
    width: 95%;
    margin: auto;
 }
 .carousel-inner{
    position: absolute;
    top: -100px;
    border-radius: 20px;
 }
.pack{
    padding-top: 3.5em;
    background-color: #FFEDB3;
    margin: auto;
    height: 650px;
    background-image: url('./images/pack.png');
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
}
.pack h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 5em;
    font-weight: bolder;
}
.pix{
    max-width: 100%;
    margin: auto;
}
.start{
    padding-top: 4em;
    background-color: #038B5C;
    margin: auto;
    height: 650px;
    background-image: url('./images/fufu.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.start h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 5em;
    font-weight: bolder;
}
.app{
    padding-top: 2.5em;
    background-color: #8C77EC;
    margin: auto;
    height: 650px;
    background-image: url('./images/chips.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.app h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 5em;
    font-weight: bolder;
}
.exp{
    padding-top: 2em;
    background-color: #FFC501;
    margin: auto;
    height: 650px;
    background-image: url('./images/wine.png');
    background-position: center;
    background-size: 15%;
    background-repeat: no-repeat;
}
.exp h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 4em;
    font-weight: bolder;
}
.ord{
    padding-top: 1.5em;
    background-color: #FF884D;
    margin: auto;
    height: 650px;
    background-image: url('./images/fitfam.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.ord h1{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
    font-size: 5em;
    font-weight: bolder;
}
/* media query */
@media(max-width:821px){
    .pack{
        padding-top: 3em;
        background-size: 40%;
    }
    .start{
        padding-top: 4em;
        background-size: 65%;
    }
    .app{
        background-size: 55%;
    }
    .exp{
        background-size: 23%;
    }
    .ord{
        background-size: 45%;
    }
}
@media(max-width: 741px){
    .pack h1{
        font-size: 4em;
    }
    .start h1{
        font-size: 4em;
    }
    .app h1{
        font-size: 3.5em;
    }
    .exp h1{
        font-size: 3em;
    }
    .ord h1{
        font-size: 4em;
    }
}
@media(max-width: 581px){
    .pack h1{
        font-size: 2em;
    }
    .start h1{
        font-size: 2em;
    }
    .app h1{
        font-size: 2em;
    }
    .exp h1{
        font-size: 2em;
    }
    .ord h1{
        font-size: 2em;
    }
}
@media(max-width:507px){
    .caro-container{
        width: 90%;
        margin: auto;
    }
    .pack{
        height: 450px;
        background-position-y: 60%;
        background-size: 35%;
    }
    .start{
    height: 450px;
    background-position-y: 60%;
    background-size: 70%;
}
.app{
    height: 450px;
    background-position-y: 60%;
    background-size: 60%;
}
.exp{
    height: 450px;
    background-position-y: 60%;
    background-size: 25%;
}
.ord{
    height: 450px;
    background-position-y: 60%;
    background-size: 55%;
}
}
.word{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.word h2{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 40%;
    margin: auto;
    font-size: 3.5em;
    font-weight: 700;
}
.word p{
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    width: 45%;
    margin: auto;
}
/* media query */
@media(max-width:909px){
    .word{
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        margin: auto;
    }
    .word h2{
    width: 55%;
    margin: auto;
    font-size: 3.5em;
    font-weight: 700;
}
.word p{
    font-size: 1.5em;
    width: 85%;
    margin: auto;
}
}
@media(max-width:658px){
    .word h2{
    width: 70%;
    margin: auto;
    font-size: 3em;
    font-weight: 700;
}
}
@media(max-width:601px){
    .word h2{
    width: 75%;
    margin: auto;
    font-size: 2.5em;
    font-weight: 500;
}
.word p{
    font-size: 1em;
}
}
@media(max-width:394px){
    .word h2{
    width: 85%;
    margin: auto;
    font-size: 2em;
    font-weight: 500;
}
}
.quees{
    display: flex;
    gap: 2em;
    padding-top: 6em;
}
.sli{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    padding: 1px 20px;
    border-radius: 7px;
    background-color: #256353;
    border: none;
    gap: 1em;
}
.sli p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.pho{
    display: flex;
    gap: 1em;
}
.pho img{
    width: 270px;
}
/* media query */
@media(max-width:760px){
    .pho img{
    width: 240px;
}
}











